/**
CSS code that captcheck.js injects into the page.

Don't use this file in your site; captcheck.js contains it.
*/
.captcheck_box {
    font-family: Ubuntu, Arial, sans-serif;
    color: black;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    display: inline-block;
    padding: 3px;
    margin: 5px 2px 5px 1px;
    background-color: #f5f5f5;
}

.captcheck_label_message,
.captcheck_label_message b {
    color: black;
    font-family: Ubuntu, Arial, sans-serif;
}

.captcheck_answer_label > input {
    visibility: hidden;
    position: absolute;
}

.captcheck_answer_label > input + img {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 3px;
    min-width: 32px;
    width: 18%;
    max-width: 64px;
}

.captcheck_answer_label > input:checked + img {
    cursor: pointer;
    border: 2px solid #424242;
    border-radius: 3px;
}

.captcheck_error_message {
    color: red;
}

.captcheck_question_image {
    display: initial;
}

.captcheck_question_access {
    display: none;
}

.captcheck_alt_question_button {
    float: right;
    font-size: 80%;
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
}

.captcheck_answer_images {
    display: initial;
}

.captcheck_answer_access {
    display: none;
}